<main class="content">
  <a class="back_link" [routerLink]="['/']"> Назад </a>
  <form class="note_form" #f="ngForm">

    <h1> Запись "{{ title }}" </h1>
    <input class="note_form__title" type="text" name="title" [(ngModel)]="title" required />

    <div class="note_form__spacer"></div>

    <textarea class="note_form__content" type="text" name="content" [(ngModel)]="content" required></textarea>

    <div class="note_form__spacer"></div>

    <div class="note_form__button_row">
      <!--
        Кнопки поменяны местами для соблюдения правильного порядка индексов,
        я решил, что лучше сделать так, чем городить tabindex в CSS
      -->
      <button class="note_form__button_save" name="save" [disabled]="!f.valid" (click)="onSubmit()"> Сохранить </button>
      <button class="note_form__button_delete" name="delete" (click)="modal.style.display = 'block'"> Удалить </button>
    </div>

  </form>
</main>

<!-- Модальное окно -->
<div #modal class="modal">
  <div class="modal__content">
    <span class="modal__close" (click)="modal.style.display = 'none'">&times;</span>
    <h2> Удалить запись? </h2>
    <div class="modal__button_row">
      <button class="modal__button_ok" (click)="modal.style.display = 'none'"> Отмена </button>
      <button class="modal__button_delete" (click)="onDelete()"> Удалить </button>
    </div>
  </div>
</div>
