.note
  padding: 5px
  min-width: 200px

.note__title
  text-align: center
  padding-bottom: 0

.note__content
  background: ghostwhite
  border: solid 1px black
  border-radius: 4px
  padding: 5px
  margin-bottom: 15px
  min-height: 100px

.note__link
  display: block
  padding: 2px 5px
  text-align: center
  background: lightcyan
  border: solid 1px gray
  border-radius: 4px
  text-decoration: none
  color: black


